.lead__present {
	display: flex;
	justify-content: space-between;
	width: 279px;
	margin: auto;
	margin-left: 120px;
}

@media screen and (max-width: 1300px) {
	.lead__present {
		margin-left: 153px;
	}
}

@media screen and (max-width: 710px) {
	.lead__present {
		margin-left: 20px;
	}
}

@media screen and (max-width: 560px) {
	.lead__present {
		margin: auto;
	}
}