.popup {
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.8);
	display: none;

	&__container {
		padding: 20px;
		margin: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: white;
		position: relative;
	}
	&__image {
		width: 40px;
		height: 40px;
	}
	&__text {
		padding: 0;
		margin: 0;
		@include font(16px, 500, normal, $text-description);
	}
	&__close {
		width: 15px;
		height: 15px;
		position: absolute;
		top: 5px;
		right: 5px;
		font-size: 0;
		border: none;
		background: transparent url('../../images/close_icon.svg') no-repeat center;
	}
}
