.program__list-el {
	margin: 0;
	margin-bottom: 43px;
	padding: 0;
	width: 309px;
	display: grid;
	grid-template-columns: 28px 1fr;
	grid-template-rows: 1fr;
	column-gap: 14px;

	&:nth-child(2) {
		width: 281px;
	}

	&:nth-child(3) {
		width: 292px;
	}

	&:nth-child(4) {
		margin-bottom: 0;
	}

	&:nth-child(6) {
		width: 292px;
	}

	&:nth-child(7) {
		width: 305px;
	}
}
