.faq {
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	margin: 0 10vw 0 10vw;

	&__header {
		padding: 0;
		margin: 0 0 42px;
		width: fit-content;
		@include font(64px, 700, normal, $text-main);
	}

	&__wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-self: start;
		align-items: center;
		cursor: pointer;
		min-height: 54px;
		width: 100%;
		padding-top: 24px;
	}

	&__container {
		width: 100%;
		@include font(24px, 400, normal, $text-main);
		display: flex;
		flex-direction: column;
		overflow: hidden;
	}

	&__content {
		max-width: 680px;
		max-height: 0px;
		transition: max-height 0.3s ease-in-out;
		color: #686868;
		@include font(18px, 400, normal, $text-main);
		padding-top: 20px;
	}

	&__button {
		transition: transform 0.3s;
	}

	&__rotate {
		transform: rotate(45deg);
	}

	&:last-child {
		margin-bottom: 346px;
	}
}

@media screen and (max-width: 980px) {
	.faq {
		&__header {
			@include font(48px, 700, normal, $text-main);
		}

		&:last-child {
			margin-bottom: 200px;
		}
	}
}

@media screen and (max-width: 640px) {
	.faq {
		margin: 0 20px 0 20px;

		&__content {
			@include font(16px, 400, normal, $text-main);
		}

		&__header {
			@include font(30px, 700, normal, $text-main);
		}
	}
}
