.program__counter {
	padding: 0;
	margin: 0;
	width: 24px;
	height: 24px;
	background: $enumeration-numbers-bgr;
	border-radius: 50%;
	@include font(18.667px, 500, normal, $enumeration-numbers-symbols);
	display: flex;
	justify-content: center;
	align-items: center;
}
