@font-face {
  font-family: 'Hauora';
  font-weight: 500;
  font-style: normal;
  src: url('../vendor/fonts/hauora-sans-latin-500-normal.woff') format('woff'),
  url('../vendor/fonts/hauora-sans-latin-500-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Hauora';
  font-weight: 600;
  font-style: normal;
  src: url('../vendor/fonts/hauora-sans-latin-600-normal.woff') format('woff'),
  url('../vendor/fonts/hauora-sans-latin-600-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Hauora';
  font-weight: 700;
  font-style: normal;
  src: url('../vendor/fonts/hauora-sans-latin-700-normal.woff') format('woff'),
  url('../vendor/fonts/hauora-sans-latin-700-normal.woff2') format('woff2');
}
