//Text
$text-main: rgba(11, 27, 59, 1);
$text-light-header: rgba(255, 255, 255, 1);
$text-highlighted: rgba(88, 94, 222, 1);
$text-description: rgba(104, 104, 104, 1);
$text-optional: rgba(188, 191, 254, 1);
$text-btn-light: rgba(255, 255, 255, 1);
$text-btn-dark: rgba(88, 94, 222, 1);

//Buttons
$btn-main-dark: rgba(88, 94, 222, 1);
$btn-main-light: rgba(255, 255, 255, 1);
$btn-border-dark: rgba(88, 94, 222, 1);
$btn-cut: rgba(245, 241, 253, 1);
$btn-cut-symbol: rgba(11, 27, 59, 1);

//Additional
$enumeration-numbers-bgr: rgba(11, 27, 59, 1);
$enumeration-numbers-symbols: rgba(255, 255, 255, 1);

//Mixins
@mixin font($size, $weight, $lh, $color) {
	font-size: $size;
	font-weight: $weight;
	line-height: $lh;
	color: $color;
}
